<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techblog</title>
</head>
<body>
    <nav>
        This is the nav bar. 

    </nav>


{{{body}}}
    
</body>
</html>