<h1>Tech blog</h1>
<div >
<form class="submission-form" >
<label for="title"></label>
<input class="formInput" type="text" id="title" placeholder="title"/>
<label for="submission"></label>
<textarea class="formInput" type="text" id="submission" rows="4" cols="50" placeholder="Write about Tech!">

</textarea>
  <br><br>
  <button type="submitbtn" value="Submit">Submit</button>
</form>
</div>