<h1>Tech blog</h1>

<form action="/action_page.php">
<textarea id="w3review" name="w3review" rows="4" cols="50">
    Write about tech!
</textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>
