<!--sign up form card-->

<div class="signup-form"> 
    <form class="form">
        <table id="address" class="form">
            
            <label for="emailSignup"></label>
            <input class="formInput" type="text" id="emailSignup" placeholder="Email"/>
            
            <label for="passwordSignup"></label>
            <input class="formInput" type="password" id="passwordSignup" placeholder="Password"/>
      
            <label for="verifyPassword"></label>
            <input class="formInput" type="password" id="verifyPassword" placeholder="Verify Password"/>
     
            <label for="nameSignup"></label>
            <input class="formInput" type="text" id="nameSignup" placeholder="Enter Name"/>
        

        </table>


    <div class="formGroup">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
</div>

<script src="./js/signup.js"></script>
